[submodule "bat"]
	path = bat
	url = https://github.com/cybrcore/cybr-bat.git
[submodule "kitty"]
	path = kitty
	url = https://github.com/cybrcore/cybr-kitty.git
[submodule "broot"]
	path = broot
	url = https://github.com/cybrcore/cybr-broot.git
[submodule "btop"]
	path = btop
	url = https://github.com/cybrcore/cybr-btop.git
