[submodule "bat"]
	path = bat
	url = https://github.com/cybrcore/cybr-bat.git
[submodule "kitty"]
	path = kitty
	url = https://github.com/cybrcore/cybr-kitty.git
[submodule "broot"]
	path = broot
	url = https://github.com/cybrcore/cybr-broot.git
[submodule "btop"]
	path = btop
	url = https://github.com/cybrcore/cybr-btop.git
[submodule "cava"]
	path = cava
	url = https://github.com/cybrcore/cybr-cava.git
[submodule "fastfetch"]
	path = fastfetch
	url = https://github.com/cybrcore/cybr-fastfetch.git
[submodule "fish"]
	path = fish
	url = https://github.com/cybrcore/cybr-fish.git
[submodule "fzf"]
	path = fzf
	url = https://github.com/cybrcore/cybr-fzf.git
